header {
    background-color: lightcoral;
    padding: 10px;
}
/*
header h5 span {
    background-color: rgb(202, 76, 76);
    padding: 4px;
    border-radius: 4px;
}

header h5 a {
    font-size: 0.8em;
    color: yellowgreen;
}*/
